.transport {
    display: flex;
    

    &__range {
        position: relative;
    }

    &__save {
        width: 20px;
    }
}

.container {
    display: flex;
    font-family: 'Microsoft Yi Baiti';
}



.instrument-select{
    width: 8vw
}

.instruments {
    display: flex;
    border-bottom: 1px solid #c7c7c7;
    height: 70vh;
    width: 100%;
    overflow: scroll;

    &__heading {
        font-weight: normal;
        font-size: 5rem;
        color: #c7c7c7;
        margin: auto;
    }
}

.controls {
    height: 30vh;
}

.main {
    width: 88vw;
}



.setup {
    &__play-button{
        background-color: #FF5151;
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
        border: none;
        // clip-path: circle();
        border-radius: 999999999px;
        position: absolute;
        bottom: 3%;
        right: 3%;
        outline: none;
        cursor: pointer;
    }

    &__play-icon {
        width: 20px;
    }
}

