.instrument {
    border-top: 1px solid #FF4A4A;

    // border-radius: 8px;
    // background-color: #525252;
    padding: 1rem 2rem 2rem 2rem;
    margin: 10px;
    // text-align: right;
    font-family: 'Microsoft Yi Baiti';
    display: inline-block;
    width: 60%;

    &__name {
        font-size: 80px;
        margin: 8px 0;
        text-align: left;
    }

    &__wrap {
        display: inline-block;
        flex-direction: column;
        width: 100%;
    }

    &__remove-btn {
        width: 15px;
        margin: 8px 0;
    };

    &__button-wrap{
        
        display: flex;
        flex-direction: column;
        height: 80px;
        align-items: flex-start;
        overflow: scroll;
        border-right: 1px solid #c4c4c4
    }

    &__volume {
        transform: rotateZ(-90deg), translateX(-200px);
        width: 2px;
        display: inline-block;

        &-wrap{
            width: 2px;
            margin: 24px 0;
        }
    }

    &__wrap {
        display: inline-block;
    }

    &__effect-rack {
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
        padding-top: 16px;
        padding-left: 21px;
    }

    &__effects-label {
        text-align: left;
    }

    &__effect-btn {
        color:#FF4A4A;;
        border-radius: none;
        display: block;
        margin: 8px;
        margin: 5px 0;
        text-align: left;
        cursor: pointer;
    }

    &__pedals {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        padding: 16px;
    }
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */

    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #FF4A4A;
    cursor: pointer;
    margin-top: 0px; 
    transform: translateY(-5px);
  }
  
  /* All the same stuff for Firefox */
 
  
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #FF4A4A;
  }
  
  

  



