.row {
    display: flex;
    margin: 0 auto;
    width: auto;
    color:#FF5151;
    display: flex;

    &__key {
        width: 15px;
        margin-right:10px
    }
}

.beat {
    // border-radius: 9999999px;
    margin: 5px;
    width: 25px;
    height: 25px;
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.15);
    background-color: #C4C4C4;
    transition: all 0.1s ease-in-out;


    &:hover {
        background-color: #FF5151;
        transition: all 0.2s ease-in-out; 
        box-shadow: 3px 0px 7px 0px rgba(211,255,243,1);
        z-index: 10;
    }
}


.beat--active {
    background-color: rgb(255, 81, 81);
    /* transition: all 0.8s ease-in-out; */
    box-shadow: 0px 0px 25px 2px rgba(255, 81, 81, 0.5);;
    z-index: 10;
    transition: all 0.1s;
}

.beat--playing {
    transition: all 0.1s;
    background-color: #b7b7b7;
}